*.ipynb_checkpoints*
*.pyc
*_master.ipynb

.vscode

material_exercises/week_6/*
!material_exercises/week_6/assignment_1_recap.ipynb


assignments/assignment2/*
material/7_networks3/exercise_week7_solution.ipynb